.form-create {
    .title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    .content {
        padding: 20px;
        input,
        select {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
        }
    }
    .group-btn {
        text-align: center;
    }
}
