<mat-nav-list class="nav">
    <div class="logo">
        <img src="assets/images/header-logo.png" alt="" srcset="" />
    </div>
    <mat-accordion [displayMode]="'flat'">
        <div *ngFor="let navItem of listRoute; let i = index" class="nav-item">
            <div #rlas="routerLinkActive" class="nav-head mat-elevation-z0" [routerLink]="navItem.path" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'selected'" [class.selected]="isActive === i" *ngIf="navItem.subs.length === 0">
                <a class="nav-link" (click)="isActive = i">
                    <img [src]="navItem.icon" />
                    <span class="nav-link-text">{{ navItem.name }}</span>
                </a>
            </div>
            <mat-expansion-panel *ngIf="navItem.subs.length > 0" class="mat-elevation-z0">
                <mat-expansion-panel-header class="nav-head" [class.selected]="isActive === i">
                    <mat-panel-title class="nav-link">
                        <img [src]="navItem.icon" />
                        <span class="nav-link-text" (click)="isActive = i">{{
              navItem.name
            }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="nav-section">
                    <div *ngFor="let navPage of navItem.subs" class="nav-item">
                        <a class="nav-link" [routerLink]="navPage.path">
              {{ navPage.name }}
            </a>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</mat-nav-list>