@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";
.nav {
    background-color: $color-bg-menu;
    width: 320px;
    height: 100vh;
    .logo {
        width: 92%;
    }
    .nav-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 15px;
        img {
            margin: 0 30px;
        }
        .nav-head {
            margin-bottom: 20px;
            color: $white;
            width: 250px;
            height: 57px !important;
            display: flex;
            align-items: center;
            border-radius: 20px;
            font-size: 16px;
            position: relative;
            cursor: pointer;
            &:hover:not(:last-child) {
                background: $gradients-menu-active;
            }
            .nav-link {
                position: relative;
                width: 295px;
                height: 58px;
                display: flex;
                align-items: center;
                img {
                    margin: 0 30px;
                }
            }
            .sub-menu {
                width: 295px;
                height: auto;
                position: absolute;
                left: 100px;
                top: 70px;
                &-path {
                    width: 170px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .select-setting {
        font-weight: bold;
    }
}
.selected {
    background: $gradients-menu-active;
}
::ng-deep .mat-expansion-panel {
    background-color: transparent;
    color: #ffffff;
    .mat-expansion-panel-header {
        .mat-expansion-panel-header-title {
            color: #ffffff;
        }
        .mat-expansion-indicator {
            display: none;
        }
        padding: 0;
    }
    .mat-expansion-panel-body {
        padding: 0;
        margin-left: 70px;
        .nav-section {
            .nav-item:last-child {
                margin-bottom: 0;
            }
        }
    }
}
