.detail-card {
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
    .title-card {
        font-size: 20px;
        font-weight: bold;
        color: #00a050;
        padding-bottom: 20px;
        border-bottom: 2px dashed #00a050;
    }
    .content {
        padding-top: 30px;
        .title-data {
            font-size: 16px;
            font-weight: bold;
            margin-right: 20px;
            min-width: 150px;
        }
    }

    .table-card-base {
        width: 100%;
        margin-top: 20px;
        tr {
            border: none;
            th {
                padding: 5px;
                font-size: 20px;
                font-weight: bold;
            }
            td {
                padding: 5px;
            }
        }
    }
}
